details{
  * { transition: opacity .5s;}
  border-bottom: none;
  summary {
    display: block;
    border-bottom: 2px dashed;
    margin-bottom: .5rem;
    position: relative;

    em {
      font-size: .8rem;
      float: right;
      
      &:hover { color: var(--pmd-color-text-button-default) }
    }
    
    #device-icon-spacer {
      float: right;
      height: 50px;
      margin-left: 1rem;
      position: relative;
      width:50px;
      
      & + div { text-align: right }

      svg {
        width: 125%;
        top: 0;
        height: 125%;
        left: -25%;
      }
    }
    

    #patient-name {
      display: inline-block;
      vertical-align: bottom;
      .h2 {
        font-size: 3rem;
        margin-top:-.25rem;
      }
      & + div {
        height: calc(100% - 1rem);
        line-height: 1.25rem;
        padding-left: 1.5rem;
        position: absolute;
        top: -1rem;
      }
    }
    #patient-status-icon{ display: none;}

    & > div {
      display: flex;
      justify-content: space-between;
      width: 100%;
      
      & div{
        &:nth-child(2) {
          ul:first-child {
            color: var(--pmd-color-base-magical-merlin);
            position: absolute;
            padding: 0;
            margin: 0;
            top: -1.5rem;
          }
          ul + ul li{ 
            border: 1px solid var(--pmd-color-base-magical-merlin);
            color: var(--pmd-color-base-magical-merlin);
            display: inline-block;
            padding: .8rem;
            border-radius: 50%;
          }
          &:hover ul:first-child { opacity: 0; }
        }
        &:last-child {
          display: inline-block;
        }
      }

      & > div {
        display: inline-block;
      }
    }
  
    #summary-instructions {
      transition: opacity .25s;
      position: absolute;
      color: var(--pmd-color-base-magical-merlin);
      pointer-events: none;
      display: block;
      min-width:200px;
      opacity: 0;
      text-align: center;
      top: -2rem;
      width: 100%;
      z-index: 10;
      &.single-icon { left: -35px; }
    }
    &:hover #summary-instructions { opacity: .8; }
  }
  &[open] {
    border-bottom: 2px dashed;
    padding-bottom: 1rem;
    summary {
      border-bottom-color: transparent;
      #patient-status-icon { display: inline;}
      em {
        margin-top: -1.25rem;
        &::after {
          transition: background-color, color .25s;
          content: "X";
          border-radius: 15%;
          border: 1px solid #2d5a9c;
          color:#2d5a9c;
          display: block;
          font-size: 1rem;
          font-style: normal;
          height: 2rem;
          padding-top: 0.1rem;
          position: absolute;
          text-align: center;
          top:0;
          width: 2rem;
        }
        &:hover::after {
          background-color: #5ea6d9;
          color:white;
        }
      }
      div div {
        display: none;
        &:first-child { display: block; }
      }
      #summary-instructions { display: none; }
    }
  }
}
