%sticky-content {
  background-color: white;
  position: sticky;
  top:0;
}
.sticky-container {
  &#form-all-patients {
    position: absolute;
    width: 90%;
    height: calc(100vh - 185px);
    overflow: scroll;

    & > {
      form {
        @extend %sticky-content;
        left: 0;
      }
      h3 { @extend %sticky-content; }
      table thead {
        @extend %sticky-content;
        background-image: linear-gradient(180deg, white 96%, gray 2%);
        top: 70px;
      }
    }
  }
}

[data-location-selector="/patients"] .sidebar + .main > .card > .card-body {
  min-height: calc(100vh - 105px);
}